[data-theme='dark'] {
  color-scheme: dark;

  --color-background: var(--color-neutral-900);
  --color-surface: var(--color-neutral-800);
  --color-surface-elevated: var(--color-neutral-700);

  --color-text-primary: var(--color-neutral-50);
  --color-text-secondary: var(--color-neutral-300);
  --color-text-disabled: var(--color-neutral-500);

  --color-primary: var(--color-primary-light);
}