.skeleton {
  height: 16px;
  width: 100%;
  border-radius: var(--radius-sm);

  background: linear-gradient(
    90deg,
    var(--color-skeleton-base) 25%,
    var(--color-skeleton-highlight) 37%,
    var(--color-skeleton-base) 63%
  );

  background-size: 400% 100%;
  animation: shimmer 1.2s ease-in-out infinite;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}